 * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial; 
 }

.container {
  max-width: 500px;
  margin: 0 auto;
}

#list {
  text-align: center;
}

.container > h1 {
  text-align: center;
  margin: 10px 0px;
  color: #78AEFF;
  text-shadow: 2px 0px 2px #00FFED;
}

.alert {
  display: inline-block;
  padding: 15px;
  border: 2px solid #738ecf;
  border-radius: 4px;
  color: #78AEFF;
  background-color: #223962;
  margin: 3px 3px;
  list-style: none;
}

.btn  {
  display: inline-block;
  padding: 15px;
  border: 2px solid #738ecf;
  border-radius: 4px;
  color: #78AEFF;
  background-color: #223962;
  margin: 3px 3px;
  list-style: none;
  position: relative;
  top: 10px;
  right: -10px;
  box-shadow: 0px 10px 10px #2CBFB9;
}